<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Find great beers around you</h1>
      <img src="img/home/bar.jpg"/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>What city do you want to search ?</h1>
    </div>
  </div>

  <div class="row cities">
    <div class="col-md-3"></div>
    <div class="col-md-3 paris"><a href="#/paris/beers">Paris</a></div>
    <div class="col-md-3 bruxelles"><a href="#/brussels/beers">Bruxelles</a></div>
    <div class="col-md-3"></div>
  </div>
</div>
